@tailwind base;
@tailwind components;
@tailwind utilities;
:root { 
    --app-margin:200px;
    --height-header : 126px;
    --text-primary: rgba(0,0,0,0.8);
    --color-primary:#22c55e;
}
.text-primary{
    color: rgba(0, 0, 0, 0.4);
}
body { 
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
   
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
